body {
  background-color: black;
  margin-left: 16px;
}

.wd-search {
  background-color: darkgray;
  color: white;
  margin-right: 12px;
}

input::placeholder {
  color: gray;
}

.wd-link {
  color: rgb(110, 118, 125);
  padding: 16px;
  font-size: 15px;
}

.wd-link-selected {
  color: rgb(29, 161, 242);
}

.wd-suggested {
  border: 1px solid rgb(110, 118, 125);
  overflow: auto;
}

.wd-suggested p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.wd-suggested-sub {
  color: rgb(110, 118, 125);
  font-size: 13px;
}

.wd-suggested-title {
  color: white;
  font-size: 16px;
}

.wd-suggested-img {
  float: right;
  border-radius: 10px;
  margin-right: 16px;
}

.wd-author {
  color: white;
  font-size: 13px;
}
